.headline_wacthes {
  margin-left: 7% !IMPORTANT;
  font-size: 25px;
  color: white;
}
.headline_wacthes_name {
  text-align: center;
  color: white;
  margin-bottom: -7px;
}
.headline_wacthes::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  left: 100px;
  height: 4px;
  background: white;
  margin-top: 40px;
}
.exampleSlider {
  position: relative;
  transform: scale(0.8);
  top: -90px;
}
@media (max-width: 767px) {
  .exampleSlider {
    border-color: transparent;
  }
}
.exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .exampleSlider .MS-content {
    margin: 0;
  }
}
.exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 20%;
}
@media (max-width: 1200px) {
  .exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  .exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  .exampleSlider .MS-content .item {
    width: 50%;
  }
}
.exampleSlider .MS-content .item p {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
.exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}
@media (max-width: 767px) {
  .exampleSlider .MS-controls button {
    display: none;
  }
}
.exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
.exampleSlider .MS-controls .MS-left {
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10%;
  margin-top: 15%;
}
@media (max-width: 992px) {
  .exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
.exampleSlider .MS-controls .MS-right {
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10%;
  margin-top: 15%;
}
@media (max-width: 992px) {
  .exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

.MS-content .item img {
	transform: scale(1);
	transform-origin: center center;
	transition: transform 0.3s cubic-bezier(1, 0.7, 0.5, 1) 0s;
	height: 420px;
	width: auto;
	max-width: 100%;
	object-fit: cover;
	margin: 0px auto;
}

.MS-content .item img:hover {
	transform: scale(1.02);
}
.MS-content .item .item-info {
  font-size: 14px;
  font-style: oblique;
	padding: 2px 0;
	color: rgb(202, 202, 202);
}
.MS-content .item .item-info strike {
	color: white;
	margin-right: 5px;
}
.MS-content .item .item-info span {
	color: white;
	font-size: 110%;
}

.myButton {
	background-color:#ffffff;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    transition: .3s;
    margin-left: 5.3vw;
}
.myButton:hover {
  background-color:#000000;
  color: white;
  transition: .3s;
}
.myButton:active {
	position:relative;
	top:1px;
}

.watches_box {
  position: absolute;
  background-color: #222;
  bottom: -50px;
  width: 20vw;
  z-index: 10;
  margin: 0 auto;
  left: 40vw;
}

.watches_box_text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 35px;
  font-weight: bolder;
  font-size: 25px;
  margin-top: -22px;
}